*{padding: 0; margin: auto; font-family: 'Open Sans', sans-serif; font-weight: 300;}
a:link, a:active, a:visited, a:hover{text-decoration: none;}
		a:link, a:active, a:visited{color: white;}

		h2{font-weight: 800; font-size: 2.4em;}
		h4{font-family: 'Nanum Gothic', sans-serif; line-height: 1.8em; font-size: 0.9em;}
		h3{font-family: 'Nanum Gothic', sans-serif;  font-size: 1.3em; font-weight: 800;}
#container{width: 100vw; max-width: 1400px;  overflow-x: hidden;}

#menu_box{position: absolute; width: 100vw; height: 60px; background: #211826; opacity: 0.4;}
header{position: relative; width: 100vw; height: 60px; max-width: 1600px; color: white;}
header h1{font-family: 'Yatra One', cursive; height: 60px; line-height: 65px;  float: left; font-size: 1.8em; padding:  0 0 0 10px;}
header img{float: left; padding: 10px; width: 40px;}

ul{list-style: none; float: right;}
li{float: left; width: 180px; height: 60px; line-height: 60px; text-align: center;}
li:hover {font-weight: 600; background: #211826;}
#visit{font-weight: 600;}

#box{position: absolute; width:100vw; height: 85vw; max-height: 610px; background: #211826;}
main{position: relative; width: 100vw; max-width: 1500px; height: 85vw; max-height: 610px;}
main img{position: absolute; right: 0px; width: 70vw;}
main section{position: absolute; margin: 0; width: 730px; bottom: 100px; left: 16vw; color: white;}
main section h1{font-family: 'Abril Fatface', cursive; font-size: 6.0em; letter-spacing: 2px; line-height: 1.0;}
main section h3{font-family: 'Open Sans', sans-serif; font-weight: 400; position: absolute; left: -180px; bottom: -70px; text-align: right;}

@media screen and (max-width: 425px){
	h2{font-size: 1.8em;}
	h3{font-size: 1.0em;}
	#menu_box{height: 75px;}
	header h1{height: 40px; line-height: 40px; font-size: 1.2em; }
	header img{padding: 8px; width: 26px;}
	ul{width: 100vw;}
	li{width: 33.3vw; height: 30px; line-height: 30px; font-size: 3.4vw;}
	#box{width: 100vw; height: 115vw; }
	#box main{width: 100vw; padding: 40px 0 0 0; }
	#box main img{width: 100vw;}
	#box main section{width: 100vw; left: 6vw; bottom:25px;}
	#box main section h1{font-size: 3.5em;}
	#box main section h3{left: 2vw; text-align: left; font-size: 1.0em;}
}

#o_box1{position: relative; width: 1350px; height: 720px; }
#part1{position: relative;  width: 1350px; height: 830px; top: 120px;}
#part1 img{float: left; width: 480px; padding: 0px 30px 0px 0px;}
#part1 section{float: right; padding: 0 150px 0 0; width: 690px;}

#part1 section h4{padding: 20px 0px 0px 0px;}
#part1 section img{padding: 30px 0 0 0; width: 690px;}
#part1 article {float: left; padding: 20px 0 0 150px;  width: 330px;}

@media screen and (max-width: 425px){
	#o_box1{width: 100vw; height: 100vw; opacity: 0.4;}
	#part1{width: 100vw; height: 190vw; top: 10vw; }
	#part1 img{width: 78vw; padding: 0 0 0 11vw;}
	#part1 section{float: left; width: 100vw;}
	#part1 section h2{padding: 1vw 0 0 11vw;}
	#part1 section h4{width: 78vw; padding: 5px 0 0 0;}
	#part1 section img{position: absolute; top: 0px; width: 100vw; opacity: 0.4; z-index: -1;}
	#part1 article{width: 78vw; padding: 5vw 0 0 11vw;}
}

#part2{position: relative; top: 100px; width: 100vw; height: 640px; background: #1B1026;}
#part2 section{position: relative; width: 1350px; height: 640px;}
#part2 section article{position: absolute; left: 150px; margin: 0; width: 360px; height: 300px; top: 120px; color: white;}
#part2 section article h2{font-weight: 700; padding: 0 0 10px 0;}
#part2 section article h4{padding: 15px 0px 0px 0px;}
#part2 section article h3{padding: 60px 0 0 0 ; color: #EED331;}
#part2 section img{float: right; width: 690px; height: 640px;}

@media screen and (max-width: 425px){
	#part2{height: 96vw;}
	#part2 section{width: 100vw;}
	#part2 section article{width: 78vw; left: 11vw; top: 10vw; z-index: +1;}
	#part2 section article h2{padding: 0px;}
	#part2 section article h3{padding: 20px 0 0 0;}
	#part2 section article h4{padding: 7px 0 0 0;}
	#part2 section img{position: absolute; left: 0; top: 0; width: 100vw; height: 96vw; opacity: 0.3;}
}

#part3{position: relative; top: 100px; width: 1350px; height: 1540px;}
#part3 img{float: left; width: 660px;}
#part3 section{float: left; padding: 70px 0 0 30px; width: 510px;}
#part3 section h3{color: #753A13;}
#part3 section h4{padding: 30px 0 0 0;}
#part3 section img{position: relative; right: 10px; top: 70px; width: 630px;transform: rotate(-20deg);}
#part3 #section2{float: left; padding: 180px 0 0 150px; width: 1350px; height: 600px;}
#part3 #section2 article{float: left; width: 510px; padding: 0 30px 0 0;}
#part3 #section2 article img{position: absolute; width: 660px; padding: 30px 0 0 0; left: 0px;}
#part3 #section2 article h3{color: #753A13; padding: 0 0 30px 0;}
#part3 #section2 div{float: left; width: 660px;}
#part3 #section2 div img{width: 660px;}
#part3 #section2 div h4{float: left; width: 510px; padding: 30px 0 0 0;}

@media screen and (max-width: 425px){
	#part3{width: 100vw; height: 470vw; min-height: 1800px; max-height: 1850px;}
	#part3 img{float: left; width: 100vw;}
	#part3 section{width: 100vw; padding: 0px;}
	#part3 section h3{width: 78vw; padding: 15px 0 0 0;}
	#part3 section h4{width: 78vw; padding: 7px 0 0 0;}
	#part3 section img{width: 75vw; left: 15vw; top: 5vw;}
	#part3 #section2{float: left; width: 78vw; padding: 16vw 0 0 11vw;}
	#part3 #section2 article{float: left; width: 78vw; padding: 0px;}
	#part3 #section2 article h3{padding: 0 0 7px 0;}
	#part3 #section2 article img{position: relative; width: 78vw; padding: 20px 0 10px 0;}
	#part3 #section2 div{width: 78vw;}
	#part3 #section2 div img{width: 78vw;}
	#part3 #section2 div h4{width: 78vw; padding: 10px 0 0 0;}
}

footer{width: 100vw; height: 60px; background: #211826; margin: 100px 0 0 0;}
footer section{width: 95vw; max-width: 1310px; padding: 15px 0 0 0; color: white;}
footer section article{float: left; width: 240px;}
footer section article img{float: left; width: 30px; padding: 0 10px 0 0;}
footer section article h4{float: left;  padding: 0 10px 0 0;}
footer section #sns{float: right; width: 30px; padding: 0 13px 0 0}

@media screen and (max-width: 425px){
	footer{height: 130px;}
	footer section{padding: 10px}
	footer section article{float: left; width: 200px; padding: 5px 0;}
	footer section article h4{padding: 0px; font-size: 0.7em}
	footer section article img{width: 25px;}
	footer section #sns{float: right; width: 25px; padding: 5px;}
}

